
<br>
<div class="well">
<ul class="post-list inline  list-unstyled hidden">
    {% assign tags_list =   site.categories   %}
    {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <li>
        <a href="/#{{ tag }}">{{ tag | capitalize }} </a>
        <span class="badge pull-right" >{{ site.tags[tag].size }}</span>
        <hr>
    </li>
    {% endfor %}
    {% else %}
    {% for tag in tags_list %}
    <li>
        <a href="/#{{ tag[0] }}">{{ tag[0] | capitalize }} </a>
        <span class="badge pull-right" >{{ tag[1].size }}</span >
        <hr>
    </li>
    {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
</ul>


{% for tag in site.categories %}
<h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
<ul class="post-list">
    {% assign pages_list = tag[1] | sort:"weight" %}
    {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}
    <li>
        <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
        </a>
    <span class="entry-date help-block">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d,%Y" }}</time>
    </span>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
</ul>
{% endfor %}
</div>