### Folders and files structure

        .
        ├── bower_components                # Contains bower components
        ├── bower.json                      # Json file of  bower
        ├── grunt                           # Contains additional grunt tasks
        │   ├── bs-commonjs-generator.js
        │   ├── bs-glyphicons-data-generator.js
        │   ├── bs-lessdoc-parser.js
        │   ├── bs-raw-files-generator.js
        │   ├── configBridge.json
        │   └── sauce_browsers.yml
        ├── Gruntfile.js                    # This is place where are grunt tasks defined
        ├── node_modules                    # Contains node module
        ├── package.json                    # Package json file of npm.
        └── upload                          # Default OpenCart folder
        ├── admin                       # Default OpenCart admin folder
        ├── catalog
        │   ├── controller
        │   ├── language
        │   ├── model
        │   └── view
        │       ├── assets               # ====== Green freedom assests folder ===============
        │       │   └── greenfreedom
        │       │       ├── css
        │       │       │   └── oc-less-theme.min.css
        │       │       ├── html-template  # Temlate of .tpl file to incject css/js
        │       │       │   └── catalog
        │       │       │       └── common
        │       │       │           └── header.tpl
        │       │       ├── js
        │       │       │   └── theme.js  # Aditional theme jquey
        │       │       └── less          # ==== Less Files ====
        │       │           ├── alert.less
        │       │           ├── body.less
        │       │           ├── breadcrumb.less
        │       │           ├── buttons.less
        │       │           ├── cart.less
        │       │           ├── content.less
        │       │           ├── dropdowns.less
        │       │           ├── footer.less
        │       │           ├── legend.less
        │       │           ├── links.less
        │       │           ├── list-group.less
        │       │           ├── logo.less
        │       │           ├── menu.less
        │       │           ├── mixins
        │       │           │   └── background-linear-gradient.less
        │       │           ├── mixins.less
        │       │           ├── owl.less
        │       │           ├── product.less
        │       │           ├── search.less
        │       │           ├── theme.less
        │       │           ├── theme-variables.less  # Theme variable
        │       │           ├── top.less
        │       │           ├── typography.less
        │       │           └── wells.less
        │       ├── javascript
        │       └── theme
        │           ├── default   # Default OpenCart Theme
        │           └── less-theme # Less theme files
        │               ├── image
        │               │   ├── klarna_green_full.png
        │               │   ├── klarna_green_middle.png
        │               │   ├── klarna_nld_banner.png
        │               │   ├── paypal_express_mobile.png
        │               │   └── placeholder-shadow.png
        │               ├── javascript
        │               │   ├── theme.js
        │               │   └── theme.min.js
        │               ├── stylesheet
        │               │   ├── stylesheet.css
        │               │   ├── stylesheet.css.map
        │               │   └── stylesheet.min.css
        │               └── template
        ├── config-dist.php
        ├── config.php
        ├── crossdomain.xml
        ├── image
        ├── index.php
        ├── install
        ├── php.ini
        └── system
